<div class="title">
            
                    <h1><a href="#">CONTINUA <span>DASHBOARD</span></a></h1>
                   
               
  </div>
  <input type="button" id="logout-btn" class="btn" style="float: right;margin-right: 90px; margin-top: -44px;" value="LOGOUT"/>