<div class="column-left">
      <h3>LIST OF USERS</h3>
	  <hr/>
	  <ul style="height: 240px;overflow-x: hidden;overflow-y: auto;">
	   {{#each .}}  
         
		 
		 <li id="{{id}}" class="left-nav"><a href="javascript:void(0)" class="event-list">{{username}}</a></li>
		 
    {{/each}}
	</ul>
	
	<br>
	<input id="create-user" style="width: 120px;" class="btn btn-primary" type="button" value="Create User"/><br>
    </div>